@import "handsontable/styles/handsontable.min.css";
@import "handsontable/styles/ht-theme-main.min.css";
/* You can add global styles to this file, and also import other style files */

/*
.cell-over-30 {
  background-color: #ffe0e0;
  font-weight: bold;
  color: red;
}

.cell-under-30 {
  background-color: #e0ffe0;
  color: green;
}
  
*/

